auth.http.realm="Sling\\(Development)"
auth.annonymous=B"false"
auth.sudo.cookie="sling.sudo"
auth.http="preemptive"
auth.sudo.parameter="sudo"
sling.auth.anonymous.user=""
auth.uri.suffix=["/j_security_check"]
service.pid="org.apache.sling.engine.impl.auth.SlingAuthenticator"
sling.auth.requirements=[""]
service.bundleLocation="slinginstall:org.apache.sling.auth.core-1.1.4.jar"
